# Base de datos
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# Circuit Breaker
CB_UMBRAL_FALLOS=
CB_TIEMPO_ESPERA=
CB_TIMEOUT_HTTP=

# URLs de servicios internos
URL_BACKEND=
URL_USUARIOS